<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <img src="{{ data.mars_url }}" class="img-rounded"> 
      <h1>Mars! Mars! Mars!</h1>
      <p>Find out the latest news about Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">What's the lastest news about Mars?</a></p>
    </div>

    <div class="alert alert-info">
      <strong>The Lastest news from Mars is that {{data.mars_title }}! </strong> 
      <p> {{ data.mars_p}}</p>
    </div>

    <p><a class="btn btn-primary btn-lg" href="/table" role="button">Compare Earth and Mars</a></p>
    

    </div>
    <h2>Latest images of Mars' Hemispheres:</h2>
<!-- Left-aligned -->
<div class="media">
  <div class="media-left">
    <img src="{{data.mars_hl[0].img_url}}" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <p> {{data.mars_hl[0].title}} </p>
  </div>
</div>

<div class="media">
  <div class="media-left">
    <img src="{{data.mars_hl[1].img_url}}" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <p> {{data.mars_hl[1].title}} </p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="{{data.mars_hl[2].img_url}}" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <p> {{data.mars_hl[2].title}} </p>
  </div>
</div>
<div class="media">
  <div class="media-left">
    <img src="{{data.mars_hl[3].img_url}}" class="media-object" style="width:200px">
  </div>
  <div class="media-body">
    <p> {{data.mars_hl[3].title}} </p>
  </div>
</div>





</body>

</html>
